langchain==1.4.2
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langchain-google-genai

pypdf
tiktoken
faiss-cpu==1.15.1
python-dotenv

fastapi
uvicorn
jinja2
python-multipart
aiofiles
-e .